# =========================
# macOS
# =========================
.DS_Store

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Node / React
# =========================
node_modules/
dist/
coverage/
*.log

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# IDE
# =========================
.idea/

# =========================
# OS
# =========================
Thumbs.db